backend:
  name: github
  repo: Renddslow/pipeline
  branch: main
media_folder: static/img
public_folder: /img
site_url: https://pipeline.flatland.church
logo_url: https://firebasestorage.googleapis.com/v0/b/flatland-api.appspot.com/o/icons%2Ficon-167x167.png?alt=media&token=81113e67-3e07-42ff-8f02-17f5e3aee3b6
collections:
  - name: 'courses'
    label: 'Courses'
    folder: 'content/courses'
    create: true
    slug: '{{id}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description', name: 'body', widget: 'string' }
      - {
          label: 'Program',
          name: 'program',
          widget: 'relation',
          collection: 'programs',
          searchFields: ['title'],
          valueField: 'id',
          displayFields: ['title'],
        }
  - name: 'programs'
    label: 'Programs'
    folder: 'content/programs'
    create: true
    slug: '{{id}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
  - name: 'outcomes'
    label: 'Outcomes'
    folder: 'content/outcomes'
    create: true
    slug: '{{id}}'
    fields:
      - { label: 'ID', name: 'id', widget: 'string' }
      - { label: 'Description', name: 'body', widget: 'markdown' }
